<ctaf-cp-textualinput [prefix]="prefix" [suffix]="suffix" [ngClass]="classes" [labelText]="labelText" [labelWidth]="labelWidth" [size]="size">
    <input #ipt type="password" (change)="changeHandler(ipt.value)" [disabled]="disabled" value="{{displayValue}}" [style.width.px]="w" placeholder="{{placeHolder}}">
    <label style="color: red;" *ngIf="isWrong">wrong</label>
    <div class="showpwd" *ngIf="bShowPwd">{{pwdText}}</div>
    <i class="fa fa-camera-retro showpwdicon" *ngIf="showpwdtext" (click)="showPwdHandler(ipt.value)"></i>
</ctaf-cp-textualinput>