<nav [ngClass]="classes">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">
                <i class="fa {{icon}} iconRight" *ngIf="!!icon"></i>
                {{title}}
                </span>
        </div>
        <div class="navbar-left">
            <ng-content select="[navbarLeft]"></ng-content>
        </div>
        <div class="navbar-right">
            <ng-content select="[navbarRight]"></ng-content>
        </div>
    </div>
</nav>